.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue text-white;
}

.btn-blue:hover {
    @apply bg-blue-dark;
}

.btn-red {
    @apply bg-red text-white;
}

.btn-red:hover {
    @apply bg-red-dark;
}
