.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 2rem;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
